.settings {
  width: 100%;
  height: 100vh; /* Imposta l'altezza al 100% della finestra */
  display: flex;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
  font-size: xx-large;
}

.musica {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settaggio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
button{
  width: 100%;
}
